@page "/tree"

<div class="row">
    <MenuCardComponent Title="Zarządzaj" MoreUrl="/tree/manage" BackUrl="/">
        <div class="card-img">
            <img src="https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format" style="width:100%" alt="Tree" />
        </div>
    </MenuCardComponent>
    <MenuCardComponent Title="Dodaj" MoreUrl="/tree/add" BackUrl="/">
        <div class="card-img">
            <img src="https://images.unsplash.com/photo-1511285605577-4d62fb50d2f7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=876&q=80" style="width:100%" alt="Tree" />
        </div>
    </MenuCardComponent>
    <MenuCardComponent Title="Raport 1" MoreUrl="/tree/report1" BackUrl="/">
        <div class="card-img">
            <img src="https://images.unsplash.com/photo-1618044733300-9472054094ee?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80" style="width:100%" alt="Tree" />
        </div>
    </MenuCardComponent>
    <MenuCardComponent Title="Raport 2" MoreUrl="/tree/report2" BackUrl="/">
        <div class="card-img">
            <img src="https://images.unsplash.com/photo-1543286386-713bdd548da4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" style="width:100%" alt="Tree" />
        </div>
    </MenuCardComponent>
</div>
@code {

}
