@typeparam TItem

<table class="table table-striped">
    <TableHeadComponent Columns="Columns" />
    <TableBodyComponent @ref="tableBody" TItem="TItem" Columns="Columns" EditableProperty="@EditableProperty"
                        Items="Items" CheckEditability="CheckEditability" IsEditable="IsEditable" />
</table>

@if (!string.IsNullOrEmpty(EditableProperty) && ShowSaveChanges)
{
    <button class="btn btn-outline-primary" @onclick="SaveChanges">Zapisz zmiany</button>
}

@code {
    [Parameter]
    public List<ColumnDefinition>? Columns { get; set; }

    [Parameter]
    public List<TItem>? Items { get; set; }

    [Parameter]
    public string? EditableProperty { get; set; }

    [Parameter]
    public Func<TItem, bool>? CheckEditability { get; set; }

    [Parameter]
    public Func<List<TItem>, Task> SaveChangesCallback { get; set; }

    [Parameter]
    public bool IsEditable { get; set; } = true;

    [Parameter]
    public bool ShowSaveChanges { get; set; } = true;

    private TableBodyComponent<TItem>? tableBody;

    private async Task SaveChanges()
    {
        await SaveChangesCallback(tableBody?.Items);
    }
}
