@typeparam TItem

<h3>TreeComponent</h3>



@code {
    [Parameter]
    public required RenderFragment<TItem> CustomRenderer { get; set; }

    [Parameter]
    public required IList<TItem> Items { get; set; }
}
