@typeparam TItem
@implements IDisposable
@inject IJSRuntime JS

<div id="tree-canvas"></div>

@code {
    private DotNetObjectReference<TreeCanvas<TItem>>? treeCanvas;

    public async Task SetTreeData(List<TItem> data)
    {
        treeCanvas = DotNetObjectReference.Create(this);

        await JS.InvokeVoidAsync("renderTree", treeCanvas, data);
    }

    public void Dispose()
    {
        treeCanvas?.Dispose();
    }
}
