@page "/about"

<h3>O projekcie</h3>

<article>
    <section>
        <h5>Opis</h5>
        <p>Projekt stanowi realizację następującego tematu: 
            <blockquote class="blockquote" style="font-size:0.9rem;">
                <q>Przetwarzanie danych hierarchicznych. W ramach zadania należy przygotować API i jego implementację umożliwiającą tworzenia struktury hierarchicznej dla drzewa geologicznego lub struktury organizacyjnej firmy. W ramach zadania należy wykorzystać typ XML dostępny w SQL Server. Opracowane API umożliwia utworzenie drzewa, dodawanie węzłów oraz ich usuwanie a także tworzenie wybranych raportów. </q>
                <span class="blockquote-footer">Temat 4</span>
            </blockquote>
        </p>
    </section>
    <br />
    <section>
        <h5>Technologie</h5>
        <p>
            W projekcie zastosowano następujące technologie:
            <br />
            <br />
            <img src="https://img.shields.io/badge/c%23-%23239120.svg?style=for-the-badge&logo=c-sharp&logoColor=white" />
            <img src="https://img.shields.io/badge/blazor-%235C2D91.svg?style=for-the-badge&logo=blazor&logoColor=white" />
            <img src="https://img.shields.io/badge/Microsoft%20SQL%20Server-CC2927?style=for-the-badge&logo=microsoft%20sql%20server&logoColor=white" />
            <img src="https://img.shields.io/badge/bootstrap-%238511FA.svg?style=for-the-badge&logo=bootstrap&logoColor=white" />
            <img src="https://img.shields.io/badge/p5.js-ED225D?style=for-the-badge&logo=p5.js&logoColor=FFFFFF" />
        </p>
    </section>
</article>

@code {

}
