@page "/tree"

<div class="row"> 
    <MenuCardComponent Title="Test1" />
    <MenuCardComponent Title="Test2" />
    <MenuCardComponent Title="Test3" />
    <MenuCardComponent Title="Test4" />
</div>
@code {

}
